 

body {
   /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
  /* Location of the image */
  background-image: url(../img_ico/img/BG.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/*ALIGN BUTTONT TO CENTER AT EXPORT SECTION*/

.rounded-pill {
    border-radius: 50rem!important;
    margin-left: 3.9rem;
}

/*INVALID FEEDBACK FOR TRAVEL DESTINATION*/

div#travloc.invalid-feedback{
  display: block;
  margin-left: 7rem;
}

.container-head{
  width: 100%;
}

/*PADDING TOP OF TELFORD TEXT*/
p.text-center{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

#left{float: left;
    width: 18%;
    height: 2.9rem;
    margin-left: 2%;
    margin-top: 4%;}

#right{float: right;
    width: 16%;
    height: 10%;
    margin-top: 1%;
    margin-right: 4%;}

#center {
  width: 80%;
  }

.form-check .form-check-input {
  float: left;
  margin-right: 0.7em;
  margin-left: 0.1em;

}

.text-center {
  text-align: center!important;
  padding-top: 10px;
}

/*//TRAVEL LOCATION 
*/
.text-line {
    display: inline-block;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 10px;
    width: 60.91%;
    text-transform: uppercase;
    border-bottom: 1px solid #3ba3f0;
}



 /* ==========================================================================
   # Custom styles for this template
   ========================================================================== */
.container {
  max-width: 80%;
  padding: 15px;
  flex: 0 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.80);  
}
.card {
  max-width: 780px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.10);

}

.container-nilalaman {
    flex: 0 0 auto;
    max-width: 100%;

    background-color: rgba(255, 255, 255, 0.0);  

}
/* ==========================================================================
   #background padding
   ========================================================================== */

.py-5 {
            padding-top: 3rem!important;
            padding-bottom: 0rem!important;
}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
#lastname_1, #firstname_1 {
  text-align: center;
}

.hide.invalid-feedback, .hide3.invalid-feedback, .hide4.invalid-feedback {
  margin: .7rem 0 0 7rem;
}
.hide2.invalid-feedback {
  margin: .7rem 0 0 6.3rem;
}
/* ==========================================================================
   #mobile view migin top etc.
   ========================================================================== */
      @media (min-width: 768px) {
        body {
            width: 100%;
           background-image: url(../img_ico/img/BG.jpg);
        }
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
        #center {
          width: 20rem;
          }
           
        
      }         

     